@import "style/setup";

body {
    background: url(assets/doodles.png);
}
canvas {
    border: 1px red solid;
    position: absolute;
    /* position: relative; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    min-width: 450px;
    min-height: 450px;
    background: white;
}

.container {
    margin: 50px auto 0 auto;
    width: 450px;
    position: relative;
}

.inner-container {
    position: relative;

}
.word-container{
    display: flex;
    position: absolute;
    top: 450px;
    width: 450px;
    justify-content: space-around;
    text-align: center;
}
.button-container {
    position: absolute;
    top: 480px;
    display: flex;
    width: 450px;
    justify-content: space-around;
    .text-button {
        display: flex;
        // justify-content: center;
        flex-direction: column;
        align-items: center;
        p {
            margin: 0 0 5px 0;
            font-family: 'Monda';
            text-transform: uppercase;
            color: grey;
            font-size: 25px;
            font-weight: bold;
        }
    }
    button {
        border-radius: 50%;
        // border: 1px solid red;
        outline: none;
        padding: 15px;
        background: pink;
    }
}


